table {
  width: 100%;
}

.edit {
  margin-right: 10px;
  background-color: #fff;
  border: none;
}

.delete {
  margin-right: 10px;
  background-color: #fff;
  border: none;
}

.edit > i {
  color: #d9cd26;


}

.delete > i {
  color: #e35e6b
}

input {
  margin-left: 15px;
}
