.footer {
  height: 30px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer > span {
  font-size: 1.1rem;
  font-weight: 400;
}

.texto {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: smaller;
  color: rgb(53, 52, 52);
}
